@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------
      common-styles
---------------------- */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0  30px;
    background-color: #FFFFFF;
}
/*------------ navbar----------- */
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.title{
    color: #3A3A3A;
    font-weight: 700;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 500;
    padding: 15px 20px;
}
.navigation .fa-search{
    height: 24px;
    width: 24px;

}
.navigation .fa-shopping-cart{
    width: 36px;
    height: 36px;
}
.navigation li a:hover{
    color: #FF4A60;
}

/*--------------------------------
        top-banner-section 
 --------------------------------*/
 .banner{
     height: calc(100vh-80px);
     display: grid;
     grid-template-columns:1fr 1fr;
 }
 .banner-left{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
 }
 .banner-left h1{
     font-size:48px;
     color: #3A3A3A;
 }
 .banner-left p{
     font-size: 16px;
     color: #3A3A3A;
     line-height: 24px;
     margin: 25px 0;
 }
.button-style{
    text-decoration: none;
    background-color:#E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    outline: 0;
    cursor: pointer;
    transition: .3s ease-in-out;

}
.button-style:hover{
    background-color: transparent;
    color: #E02C6D;
    border: 3px solid #E02C6D;
}
.button-style .fa-arrow-right{
    margin-left: 10px;
    transition: .3s ease-in-out;
}
.button-style .fa-arrow-right:hover{
    margin-left: 15px;
}
 .banner-right{
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }
 .banner .banner-right img{
   
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    
}
 .banner-right img{
    Width:440px;
    Height:414px;
    overflow: hidden;
 }
.banner .banner-right:hover img{
    transform: scale(1.3);
    transition: transform 1s ease-in-out;
}


 .section-title{
     text-align: center;
     font-size: 28px;
     line-height: 70px;
     color: #3A3A3A;
     margin: 50px 0;
 }

 /* ------------------------------------------
                     Optional 
----------------------------------------------*/

#hr{
    margin-top: 50px;
    border:1px solid rgba(0,0,0,0.15);
}
.company-logo{
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.company-logo img{
    width: 65px;
    height: 35px;
}
 
 /*----------------------------------
             Product-Item 
-------------------------------------*/
.product-card{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    margin-bottom: 0 20px;
    padding: 20px;
    
}
.product-image{
    margin-top: 12px;
}
.product-name{
    width: 330px;
    height: 475px;
    margin-top: 20px;
}
.product-name .product-info{
    margin-top: 15px;
    margin-bottom: 15px;
}
.product-info .text{
    margin-top: 10px;
}
.product-info{
    display: flex;
    flex-direction: column;
    }
.product-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.35);
}

.product-details{
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 25px;
    margin-top: 20px;
}
.product-name .product-image img{
    width: 300px;
    height: 256px;
    
}
.product-image{
    overflow: hidden;
}
.product-image:hover img{
    transform: scale(1.3);
    transition: transform 1s ease-in-out;
}
.profuct-details .product-title{
    font-size: 28px;
    color: #18191F;
}
.product-details .product-price{
    font-size: 24px;
    line-height: 150%;
    color: rgba(0,0,0,0.87);
}
.product-details .text p{
    font-size: 14px;
    color:#787885
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFc014;
    
}
.fa-star.empty{
    color:#AEAEAE;
}
.span{
    font-size: 14px;
    color: #787885;
}
.secondary-button{
    text-decoration: none;
    color:#E02C6D;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    float: right;
    transition: .3s ease-in-out;
    padding: 15px 20px;
}
.secondary-button:hover{
    background-color: transparent;
    color: #E02C6D;
    border: 3px solid #E02C6D;
    border-radius: 15px;
    padding: 10px 15px;
}
.secondary-button .fa-arrow-right{
    margin-left: 10px;
}

/* -----------------------------------
            Contact-style 
--------------------------------------*/

.second-section-title{
    text-align: center;
     font-size: 28px;
     line-height: 70px;
     color: #3A3A3A;
     margin-top: 100px ;
     margin-bottom: 50px;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.contact-left img{
    width: 80%;
}
.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field {
    width: 70%;
    margin: 10px 0;
    padding:10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 1px solid #E02C6D;
}
.submit-button{
    text-decoration: none;
    background-color:#E02C6D;
    padding: 10px 50px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    outline: 0;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-bottom: 40px;
}
.submit-button:hover{
    background-color: transparent;
    color: #E02C6D;
    border: 3px solid #E02C6D;
}
.submit-button .fa-arrow-right{
    margin-left: 10px;
}

/* Footer-Section */
.footer-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #0A0826;
    padding: 30px 20px;
}
.footer-section h3, p{
    color: whitesmoke;
    font-style: normal;
}
footer h3{
    font-size: 24px;
}
footer p{
    font-size: 14px;
}
.social-icon i{
   
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-left: 10px;
    margin-right: 20px;
}
.fa-facebook{
    color: #FFFFFF;
}
.fa-instagram{
    color: #FFFFFF;
}
.fa-twitter{
    color: #FFFFFF;
}
.fa-youtube{
    color: #FFFFFF;
}
.fa-instagram:hover{
    color:   #F58529;
}
.fa-facebook:hover{
    color:#3b5998;
}
.fa-twitter:hover{
    color: #00acee;
}
.fa-youtube:hover{
    color: #FF0000;
}

/* ----------------------------
        Responsive-layout
-------------------------------*/

#nav-toggler{
    display: none;
}
.nav-toggler-icon{
    display: none;
    color: #0A0826;
    font-size: 30px;
}


@media (max-width:1024px){
    .product-card{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        
    }
      .banner-left h1{
        font-size: 35px;

    }
    .product-name{
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:950px){
    .product-card{
        grid-template-columns: repeat(2,1fr);
    }
    .banner-left h1{
        font-size: 35px;

    }
}
@media (max-width:800px) {
    .banner
    {
        grid-template-columns: 1fr;
        height: fit-content;
        margin-top: 60px;
    }
    .banner-left{
        order: 2;
        padding: 50px 0;
        align-items: center;

    }
    .nav-toggler-icon{
        display: block;
    }
    
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color:#0A0826;
        padding: 20px 0; 
        transform: translateY(-430px);
        transition: .5s ease-in-out;
    }
    .navigation li a{
        color: whitesmoke;
    }
  
    #nav-toggler:checked~ .navigation{
        transform: translateY(0px);
    }
   }
@media (max-width:688px){
    .banner-right img{
        max-width: 200px;
    }
  
    .product-card, .contact{
        grid-template-columns: repeat(1,1fr);
        
    }

    .product-card{
        justify-content: center;
        align-items: center;
    }
    .product-image{
        text-align: center;
    }
     .banner-left{
         margin-top: 50px;
        align-items: center; 
    }
    .banner-left h1{
        font-size: 26px;
    }
  .company-logo{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 20px;
  }
  .banner .banner-right img{
      max-width:70%;
  }
  .title {
      width: 60%;
      margin: auto;
      font-size: 17px;
  }
}
