@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------
      common-styles
---------------------- */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0  30px;
    background-color: #FFFFFF;
}
/*------------ navbar----------- */
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.title{
    color: #3A3A3A;
    font-weight: 700;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 500;
    padding: 15px 20px;
}
.navigation .fa-search{
    height: 24px;
    width: 24px;

}
.navigation .fa-shopping-cart{
    width: 36px;
    height: 36px;
}

/*--------------------------------
        top-banner-section 
 --------------------------------*/
 .banner{
     height: calc(100vh-80px);
     display: grid;
     grid-template-columns:1fr 1fr;
 }
 .banner-left{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
 }
 .banner-left h1{
     font-size:48px;
     color: #3A3A3A;
 }
 .banner-left p{
     font-size: 16px;
     color: #3A3A3A;
     line-height: 24px;
     margin: 25px 0;
 }
.button-style{
    text-decoration: none;
    background-color:#E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.button-style .fa-arrow-right{
    margin-left: 10px;
}
 .banner-right{
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }
 .banner-right img{
    Width:440px;
    Height:414px;
 }


 .section-title{
     text-align: center;
     font-size: 28px;
     line-height: 70px;
     color: #3A3A3A;
     margin: 50px 0;
 }
 
 /*----------------------------------
             Product-Item 
-------------------------------------*/
.product-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
