@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------
      common-styles
---------------------- */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0  30px;
    background-color: #FFFFFF;
}
/*------------ navbar----------- */
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.title{
    color: #3A3A3A;
    font-weight: 700;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 500;
    padding: 15px 20px;
}
.navigation .fa-search{
    height: 24px;
    width: 24px;

}
.navigation .fa-shopping-cart{
    width: 36px;
    height: 36px;
}
.navigation li a:hover{
    color: #FF4A60;
}

/*--------------------------------
        top-banner-section 
 --------------------------------*/
 .banner{
     height: calc(100vh-80px);
     display: grid;
     grid-template-columns:1fr 1fr;
 }
 .banner-left{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
 }
 .banner-left h1{
     font-size:48px;
     color: #3A3A3A;
 }
 .banner-left p{
     font-size: 16px;
     color: #3A3A3A;
     line-height: 24px;
     margin: 25px 0;
 }
.button-style{
    text-decoration: none;
    background-color:#E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.button-style .fa-arrow-right{
    margin-left: 10px;
}
 .banner-right{
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }
 .banner-right img{
    Width:440px;
    Height:414px;
 }


 .section-title{
     text-align: center;
     font-size: 28px;
     line-height: 70px;
     color: #3A3A3A;
     margin: 50px 0;
 }
 
 /*----------------------------------
             Product-Item 
-------------------------------------*/
.product-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    margin-bottom: 0 20px;
    padding: 20px;
}
.product-info{
    display: flex;
    flex-direction: column;
}
.product-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 45px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
}

.product-details{
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 25px;
    margin-top: 20px;
}
.product-name .product-image img{
    width: 300px;
    height: 256px;
}
.profuct-details .product-title{
    font-size: 28px;
    color: #18191F;
}
.product-details .product-price{
    font-size: 24px;
    line-height: 150%;
    color: rgba(0,0,0,0.87);
}
.product-details .text{
    font-size: 14px;
    color:#787885
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFc014;
    
}
.fa-star.empty{
    color:#AEAEAE;
}
.secondary-button{
    text-decoration: none;
    color:#E02C6D;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    float: right;
}
.secondary-button .fa-arrow-right{
    margin-left: 10px;
}

/* Contact-style */
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.contact-left img{
    width: 80%;
}
.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field {
    width: 70%;
    margin: 10px 0;
    padding:10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 1px solid #E02C6D;
}

/* Footer-Section */
.footer-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #0A0826;
    padding: 30px 20px;
}
.footer-section h3, p{
    color: whitesmoke;
    font-style: normal;
}
footer h3{
    font-size: 24px;
}
footer p{
    font-size: 14px;
}
.fa-facebook{
    color: #FFFFFF;
}
.fa-instagram{
    color: #FFFFFF;
}
.fa-twitter{
    color: #FFFFFF;
}
.fa-youtube{
    color: #FFFFFF;
}